<h1>LOGIN</h1>
<form id="login">
    <label for="email">Email</label>
    <input type="text" required name="email">

    <label for="password">Password</label>
    <input type="password" required name="password">

    <button type="submit">Enviar</button>
    <br><br>
    <a href="http://localhost:4000/api/sessions/github">GitHub Login</a>
</form><br><br>

<div class="sesion">
        <h2>No tienes una cuenta?</h2>
        <a href="http://localhost:4000/signin">Registrarse!</a>
</div>